@media (max-width:1200px) {
.header_navbar{
    padding-top: 0px;
}
.banner{
    margin-top: 70px;
}
.contain1{
    width: 85%;
}
.contain2{
    width: 89%;
}
.about_contain1 {
    width: 88%;
}
.containerbox {
    width: 27.6%;
    height: 260px;
}
}

@media (max-width: 992px) {
.header_navbar {
    padding-top: 0px;
}
.banner {
    margin-top: 69px;
}
.banner_img{
    height: 300px;
    background-size: contain;
}
.contain1, .section_content h1, .section_content1 h1, .about_contain1, .section_content h1, .services_details, .permanent_content1, .contract_content1, .bulk_content1, .process_contain, .whyusdetails {
    font-size: 2.5rem;
    line-height: 2.5rem;
}
.contain2, .section_content p, .problems li, .about_contain2, .section_content p, .permanent_content2, .contract_content2, .bulk_content2, .whycontain {
    font-size: 1rem;
    line-height: 1.5rem;
}
.resCarousel-inner .item .tile {
background: white;
margin: 10px
}
.carrerbanner {
    padding-top: 6%;
}
.containerbox {
    width: 26.4%;
    height: 280px;
}
.containerbox_desc {
    height: 75px;
}
.containerbox_skills {
    height: 65px;
}
.contactbanner {
    padding-top: 7%;
}
.map {
    width: 37%;
}
}



@media (max-width: 768px) {
.header_navbarli {
    padding: 0px 60px;
}
.header_navbarlist {
    padding-right: 10px;
        font-size: 12px;
}
.banner {
    margin-top: 55px;
}
.banner_img {
    height: 235px;
    background-size: contain;
}
.contain1, .section_content h1, .section_content1 h1, .about_contain1, .section_content h1, .services_details, .permanent_content1, .contract_content1, .bulk_content1, .process_contain, .whyusdetails {
    font-size: 2.1rem;
    line-height: 2.3rem;
}
.contain2, .section_content p, .problems li, .about_contain2, .section_content p, .permanent_content2, .contract_content2, .bulk_content2, .whycontain {
    font-size: 1rem;
    line-height: 1.5rem;
}
.containimg {
    padding: 0px 20px 20px 20px;
}
.class1, .class2, .class3, .class4, .class5, .class6, .class7, .class8, .class9, .class10, .class11, .class12, .class13, .class14{
    width:90px;
    height: 75px;
}
.resCarousel-inner {
 width: 65%;
}

.leftRs {
    margin-left: 45px;
}
.rightRs {
    margin-right: 45px;
}
.resCarousel-inner .item .tile {
    margin: 0px;
}
/*.footer_leftDiv {
    width: 15%;
}
.footer_logo {
    width: 60%;
}
.footer_rightDiv {
    width: 85%;
}
.footer_quicklinks {
    width: 17%;
}
.footer_register {
    width: 27%;
}
.footer_share {
    width: 32%;
}
.footer_contact {
    width: 22%;
}
*/
.footer_logo {
    width: 60%;
}
.footer_quicklinks {
    width: 19%;
}
.footer_menu {
    font-size: 12px;
}
.regaddress, .footer_shareaddress, .footer_contdetails {
    font-size: 12px;
}
.carrerbanner {
    padding-top: 7%;
}
.containerbox_header {
    line-height: 1.5rem;
    font-size: 17px;
  /*  height: 30px;*/
}
.containerbox {
    width: 24.4%;
    height: 350px;
}
.containerbox_desc {
    height: 110px;
}
.containerbox_skills {
    height: 100px;
}
.containerbox_applybutton {
    padding: 8px 10px;
}

}

@media screen and (max-width: 576px) and (min-width: 321px){
    .header{
        position: absolute;
        padding: 16px 0px;
        text-align: center;
    }
    .header_logoimg {
    max-width: 35%;
    -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.listingHeader__toggle{
    display: block;
}
.listingHeader__menu{
    float: left;
}
.header_navbarlist {
    font-size: 16px;
}
.header_navbar {
    float: none;
}
.fa{
    color: #f37a75;
}
.header_navbarli {
    display: none;
}   
.header_navbarli li{
        text-align: center;
    margin-top: 20px;
    margin-right: 0px;
    display: block;
}
.banner h1{
    font-size: 2.5rem;
}
.banner_common_section {
    font-size: 0.8rem;
}   
.banner_img {
    height: 177px;
}
.containimg{
    width: 85%;
    margin: 0 auto;
    padding: 1rem 0rem;
    display: block;
    float: none;
}
.section3_contain{
        display: block;
    float: none;
    width: 85%;
    margin: 0 auto;
    padding:0;
}
.section_content{
  width: 85%;
    margin: 0 auto;
    float: none;
    padding: 0;
    display: block;
}
.challenge .section_image {
    height: auto;
    float: none;
    margin: 0 auto;
    width: 85%;
    padding: 0;
}

.alignnone{
    width: 95%;
    margin: 0 auto;
}
.section_image1{
        width: 85%;
    margin: 0 auto;
    float: none;
    display: block;
}
.section_content1{
        width: 85%;
    margin: 0 auto;
    float: none;
    padding: 0;
    display: block;
}
.problems li {
    padding: 1rem 0rem 0 1rem;
    }
.developmentheading{
    text-align: center;
        letter-spacing: 0.10rem;
}
.resCarousel-inner {
 width: 55%;
}
.item{
    width: 27%;
}
.tile{
    width: 50%;
}
/*footer responsive css*/
/*.footer_leftDiv {
    width: 100%;
    float: left;
    margin: 0;
    float: none;
    padding: 0;
}
.footer_logo {
    width: 20%;
    margin: 0 auto;
    display: block;
    padding: 1rem;
    }

.footer_rightDiv {
    float: none;
    width: 100%;
    float: none;
    padding: 0;
    margin: 0;
}
.footer_quicklinks, .footer_register, .footer_share, .footer_contact {
    width: 32%;
    margin: 0 auto;
    display: block;
    padding: 1rem;
    float: none;
    text-align: center;
}*/
.footer_menu {
    font-size: 12px;
}
.regaddress, .footer_shareaddress, .footer_contdetails {
    font-size: 12px;
}
/*about responsive css*/
.about_img{
    width: 85%;
    margin: 0 auto;
    padding: 0;
    float: none;
    display: block;
}
.about_description{
        width: 85%;
    padding: 0;
    margin: 0 auto;
    float: none;
    display: block;
}
.about_contain1, .about_contain2 {
    width: 100%;
}
.section_content h2{
    margin-left: 0;
}
/*services responsive css*/
.services_heading {
    padding-top: 17%;
}
.permanent_img, .contract_img, .bulk_img{
        width: 85%;
    margin: 0 auto;
    float: none;
    padding: 0;
    display: block;
}
.permanent_desc, .contract_desc, .bulk_desc{
    display: block;
    margin: 0 auto;
    width: 85%;
    float: none;
}
/*process responsive css*/
.process_heading {
    padding-top: 17%;
    }

/*whyus responsive css*/
.whyusheading {
    padding-top: 17%;
}
.differnetmain, .problemmain{
    float: none;
    display: block;
    margin:0 auto;
    width: 85%;
    margin-bottom: 0%;
}
.differnet, .usp, .problem, .solution{
    height: unset;
}
.whyusimg{
        display: block;
    width: 85%;
    margin: 0 auto;
    padding: 0;
    float: none;
}
/*career responsive css*/
.carrerbanner {
    padding-top: 13%;
}
.containerbox {
    width: 85%;
    height: 270px;
    margin: 0 auto;
    float: none;
    padding: 0 15px;
    display: block;
    margin-bottom: 5%;
}
.containerbox_desc {
    height: 60px;
}
.containerbox_skills {
    height: 60px;
}
/*contact us responsive css*/
.contactbanner{
    padding-top: 13%;
}
.contact, .map{
    width:85%;
    margin:0 auto;
    float:none;
    padding: 0;
    padding-bottom: 2%;
}
.contain1, .contain2, .problems li{
    width: 95%;
}

.services_details, .process_contain, .whyusdetails {
    width: 85%
} 
.process_img {
    width: 90%;
}
.section_content h1 {
    margin: 1rem 0 1.5rem 0px;
}
.section_content p {
    margin: 0;
    padding: 10px 30px;
    padding: 0;
}
.resCarousel {
    width: 95%;
    margin: 0 auto;
}
#leftarrow, #rightarrow {
    display: none;
    }

.class1:hover  .leftRs{
    display: inline-block;
}

.sections2_weare {
    padding: 0rem 0rem;
}
.section_image {
    width: 85%;
    height: auto;
    padding: 1rem 0 1rem 0;
    margin: 0 auto;
    padding: 0;
    float: none;
    padding-bottom: 3%;
}
.permanent, .contract, .bulk{
    padding:0;
}
.bulk{
    padding-bottom: 5%;
}
.contact_main {
    width: 100%;
}
/*footer responsive css*/

.footer_content {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 10px;
    overflow: hidden;
}

.footer_leftDiv {
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: block;
    text-align: center;
    margin-bottom: 5%;
}
.footer_logo {
    width: 20%;
padding-left:0;
}
.footer_rightDiv {
    width: 100%;
    float: left;
}

.footer_quicklinks {
    width: 20%;
    padding-left: 5%;
}
.footer_register {
    width: 33%;
}

.footer_share {
    width: 40%;
}
.footer_contact {
    width: 100%;
    text-align: center;
    margin-top: 2%;
}



}