.site-title{
font-family:"Open Sans", sans-serif;
}
.main-navigation ul li a,.main-navigation ul li a:visited,button,a.button,a.fl-button,input[type="button"],input[type="reset"],input[type="submit"]{
font-family:"Open Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6,label,legend,table th,dl dt,.entry-title,.widget-title{
font-family:"Open Sans", sans-serif;
}
body,p,ol li,ul li,dl dd,.fl-callout-text{
font-family:"Open Sans", sans-serif;
}
blockquote,.entry-meta,.entry-footer,.comment-list li .comment-meta .says,.comment-list li .comment-metadata,.comment-reply-link,#respond .logged-in-as{
font-family:"Open Sans", sans-serif;
}
@font-face{
font-family:OpenSans-Light;
src: url(../fonts/OpenSans-Light.ttf);
}
/*Header starts*/
.header {
	overflow: auto;
	background: #ffffff;
	position: fixed;
	top: 0;
	padding: 16px 32px;
	width: 100%;
	border-radius: 0;
	border: none;
	z-index: 1;
	box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
}
.listingHeader__toggle{
    width: 0%;
    padding: 0% 3%;
    text-align: left;
    box-sizing: border-box; 
    font-size: 30px;
    display: none;
    float: left;
}

.header_logoimg{
	max-width: 15%;
	height: auto;
}
.header_navbar{
	float: right;
	padding-top: 5px;
}
.header_navbarli {
	list-style-type: none;
	padding: 10px 30px;
}
.header_navbarli li {
	display: inline-block;
}
.header_navbarlist{
	text-decoration: none;
	color: #565656;
	padding-right: 35px;
	font-size: 15px;
	font-weight: bold;
}
.clear{
	clear:both;
}
.header_navbarlist:hover {
   text-decoration: none;
}

/*Header ends*/
/*Footer starts*/
.footer{
    background-color: #e1f1ff;
    clear: both;
}
.footer_leftDiv{
    width: 20%; 
    float: left; 
    margin: 0px 0px 0px 0px;
}    
.footer_content{ 
    width: 100%;
    padding-top: 50px; 
    padding-bottom: 50px;
    overflow: hidden;
} 
.footer_logo{
  width: 45%;
padding-left: 23%;
}
.footer_rightDiv{
    width: 80%; 
    float: right;
}
.footer_quicklinks{
    width: 20%;
}
.footer_register{
    width: 27%;
}
.footer_share{
    width: 26%;
}
.footer_contact{
    width: 25%;
}
.myClass{
    display: inline-block;    
    vertical-align: top;
}
.footerlogoimg{
    width: 15%;
    display: inline-block;
}
.footer_menu{
    text-decoration: none;
    line-height: 1.5;
    font-size: 0.9rem;
    color: #626262;
}
.footer_mail{
    text-decoration: none;
    color: #626262;
}
.footer_registerheader, .footer_quicklinksheader, .footer_shareheader, .footer_contactheader, .footer_followheader{
	font-weight: 600;
	font-size: 0.85rem;
	margin-bottom: 10px;
	color: #626262;
}
.regaddress, .footer_shareaddress, .footer_contdetails{
    line-height: 1.5;
    font-size: 0.9rem;
    color: #626262;
}
.location, .envelope, .call{
    height: 12px;
}
.footer_business{
    margin-top: 25px;
}
.footer_social-networks {
    padding-top: 0px;
    padding-bottom: 10px;
}
.facebook, .twitter-logo, .linkedin, .instagram{
    height: 30px;
    width: 30px;
    opacity:5;
}
.twitter-logo, .linkedin{
    margin-left: 5px;
}
.facebook:hover, .twitter-logo:hover, .linkedin:hover, .instagram:hover{
    opacity: 0.4;
}
.footer_copyright_text {
    text-align: center;
    padding-bottom: 15px;
    font-size: 0.75rem;
    color: #a3a3a3;
}
/*Footer ends*/
/*Common styles starts*/
.developmentheading, .about_heading, .sections2_heading, .section_content h2, .services_heading, .permanent_heading, .contract_heading, .bulk_heading, .process_heading, .whyusheading, .whyheading, .jobmain, .contact_heading{
	font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.15rem;
    color: #f37a75;
    border-bottom: 1px solid #f37a75;
    display:table;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 0.75rem;
}
.contain1, .section_content h1, .section_content1 h1, .about_contain1, .section_content h1, .services_details, .permanent_content1, .contract_content1, .bulk_content1, .process_contain, .whyusdetails{
	font-size: 2.8rem;
	color: #626262;
	font-family: 'Bellefair', serif;
	line-height: 3rem;
	letter-spacing: -2px;
	line-height: 3rem;
}
.contain2, .section_content p, .problems li, .about_contain2, .section_content p, .permanent_content2, .contract_content2, .bulk_content2, .whycontain{
	font-size: 1.2rem;
	color: #91969c;
	line-height: 1.75rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
}
/*Common styles ends*/
/*Home Starts*/

.banner{
background-color: #e1f1ff;
margin-bottom: 5%;
}
.banner h1 {
font-family: 'Bellefair', serif;
font-size: 4rem;
font-weight: 100;
padding:6rem 0 1rem 0;
color: #565656;
margin: 0;
letter-spacing: -2px;
text-align: center;
margin-top: 5%;
}
.banner_common_section  {
font-size: 1.2rem;
padding: 0;
color: #565656;
line-height: normal;
margin: 0;
text-align: center;
font-family: "Open Sans", sans-serif;
}
.banner_img{
background: url('../images/banner.svg') no-repeat;
height: 339px;
background-position: center;
width: auto;
margin-top: 5%;
background-color:  #e1f1ff;
text-align: center;

}

.section3_contain{
width: 45%;
    margin-bottom: 5%;
    float: left;
    padding-left: 3%;
}
.contain1{
margin-bottom: 2%;
width: 77%;
float: left;
}
.contain2{
width: 79%;
margin-bottom: 5%;
float: left;
}
.talentbutton{
border: none;
text-align: center;
cursor: pointer;
color: #fff;
font-size: 0.6875rem;
outline: none;
background-color: #32d6a9;
border-radius: 18px;
letter-spacing: 0.08313rem;
padding:8px 32px;
text-transform: uppercase;
font-weight: bold;
}
.talentbutton:hover{
background-color: #15a99c;
}
.containimg{
    float: left;  
    width: 45%;
    padding: 0px 30px 30px 30px;
}
/*section 4*/
.challenge {
background: #c1eeff;
padding: 3rem 2rem 0;
overflow: hidden;
}
.container {
width: 100%;
height: auto;
}
.challenge {
padding: 0 0rem 0 0rem;
margin: 0;
}
.section_content {
width: 60%;
height: auto;
float: left;
margin: 2rem 0 0 0;
padding: 0 0rem 0 0rem;
}
.section_content h1 {
margin: 1rem 0 1.5rem 0;
}
.hidden {
Opacity: 1;
}
.section_content p {
margin: 0;
padding: 10px 0px;
}
.challenge .section_image {
height: auto;
float: right;
padding-top: 40px;
margin: 0;
}
.section_image {
width: 40%;
height: auto;
float: left;
margin: 5rem 0 0 0;
}
.common_section {
font-size: 1.2rem;
padding: 0;
color: #565656;
line-height: normal;
margin: 0;
}
.challenge .section_image img {
margin: 0 0 0 0;
}
img[class*="wp-image-"] {
display: block;
margin-bottom: 1em;
margin-bottom: 1rem;
}
.alignnone {
float: none;
}
img {
max-width: 100%;
}

/*section 5*/
.problems {
overflow: auto;
}
.container1 {
padding: 3rem 0rem;
}
.container1 {
width: 100%;
height: auto;
}
.hidden {
Opacity: 1;
}
.section_image1 {
width: 40%;
height: auto;
float: left;
margin: 5rem 0 0 0;
}
.section_content1 {
width: 60%;
height: auto;
float: left;
margin: 2rem 0 0 0;
padding: 0 0rem 0 0rem;
}
.section_content1 h2 {
font-size: 0.75rem;
font-weight: 400;
color: #f37a75;
line-height: 2rem;
letter-spacing: 0.15rem;
border-spacing: 0px;
border-bottom: 1px solid #f37a75;
display: table;
}
.hidden_part {
visibility: hidden;
}
.section_content1 h1 {
margin: 1rem 0 1.5rem 0;
}
.problems li::before {
content: "• ";
color: #ffbb00;
}
.problems li {
padding: 1rem 5rem 0 1rem;
text-indent: -0.8rem;
}


/*development skillsets starts here*/
/*resCarousel Css*/
.p8{
margin-bottom: 3%;
padding-top: 30px;
}
.class1 {
background: url('../images/html.png') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class2 {
background: url('../images/css.png') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class3 {
background: url('../images/javascript.png') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class4 {
background: url('../images/jquery.png') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class5 {
background: url('../images/angular.png') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class6 {
background: url('../images/react.png') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class7 {
background: url('../images/knockoutjs.png') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class8 {
background: url('../images/resp.png') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class9 {
background: url('../images/redux.png') center center no-repeat;
height: 100px;
color: white;
background-size: contain;
}
.class10 {
background: url('../images/backbone.png') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class11 {
background: url('../images/type.png') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class12 {
background: url('../images/nodejs.png') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class13 {
background: url('../images/ember.png') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}
.class14 {
background: url('../images/vue.png') center center no-repeat;
height: 100px;
width: 150px;
color: white;
background-size: contain;
}

.outt {
display: none;
}

.leftarrowimg, .rightarrowimg{
height: 20px;
width: 20px;
}
.leftarrowimg{
vertical-align: middle;
margin-right: 5px;
}
.rightarrowimg{
vertical-align: middle;
margin-left: 5px;
}
.leftRs {
position: absolute;
margin: auto;
top: 60px;
bottom: 0;
cursor: pointer;
left: 0;
width: 40px;
height: 40px;
border-radius: 999px;
margin-left: 80px;
outline: none;
border: none;
}
.leftRs:hover{
box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
}
.rightRs:hover{
box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
}
.rightRs {
position: absolute;
margin: auto;
top: 60px;
right: 0;
bottom: 0; 
cursor: pointer;
width: 40px;
height: 40px;
border-radius: 999px;
margin-right: 60px;
outline: none; 
border: none;
}
#leftarrow, #rightarrow{
border-radius: 25px;
}

.resCarousel {
/*float: left;
overflow: hidden;*/
width: 70%;
margin: 0 auto;
position: relative;
}

.resCarousel-inner {
overflow-x: hidden;
white-space: nowrap;
font-size: 0;
vertical-align: top;
width: 70%;
margin: 0 auto;
padding-top: 3%;
}

.resCarousel-inner .item {
display: inline-block;
font-size: 14px;
white-space: initial;
}


/*tile css*/

.resCarousel-inner .item .tile {
background: white;
margin: 25px
}
.tile{
text-align: center;
}

/*animation*/

.resCarousel[data-animator="lazy"] .item {
transition: .6s ease all;
}

/*Home ends*/
/*AboutUS Starts*/

.about_heading{
    margin:0px 0px 10px 0px;
}
.about{
   padding-top: 100px;  
}
.about_img{
	width: 33%;
	float: left;
	padding-left: 3%;
    margin-bottom: 5%;
}
.about_contain1{
    width: 86%;
    padding-bottom: 3%;
}
.about_contain2{
    width: 77%;
}
.about_description{
        float: left;
    width: 60%;
    padding-left: 30px;
    }


.sections2{
    clear:both;
}


.hidden {
    Opacity: 1;
}
.section_content h1 {
    margin: 1rem 0 1.5rem 30px;

}
.section_content p {
    margin: 0;
    padding: 10px 30px;
}
.section_image {
    width: 40%;
    height: auto;
    float: left;
    padding: 1rem 0 0 0;
}

.sections2_weare{
    overflow: auto;
      height: auto;
    padding-bottom: 3%;
    width: 95%;
    padding: 0rem 2rem;
}
.section_content h2{
    margin-left: 30px;

}
img {
    max-width: 100%;
}
img {
    display: inline-block;
    vertical-align: middle;
}

.best_market {
    font-size: 1.25rem;
      font-weight: bold;
}


/*AboutUS ends*/
/*Services Starts*/
.services_heading{
    padding-top: 8%;
    margin: 0 auto;
    margin-bottom: 2%;
}
.services_details{
    text-align: center;
        margin-bottom: 5%;
        width: 74%;
    margin: 0 auto;
    padding-bottom: 4%;
}
.permanent, .contract, .bulk{
overflow: auto;
padding:3%;
    padding-bottom: 0%;
}
.bulk{
    padding-bottom: 2%;
}
.permanent_heading{
    margin: 0px 0px 15px 0px;
}
.permanent_img{
    width: 34%;
    float: left;
}
.permanent_desc{
        width: 66%;
    float: left;
    padding-top: 0;
}
.permanent_content1{
    margin-bottom: 2%;
}
.permanentcontain2{
}

.contract_desc{
    width: 66%;
    float: left;
}
.contract_heading{
 margin: 0px 0px 15px 0px;
}
.contract_img{
    width: 34%;
    float: left;
}
.contract_content1, .contract_content2 {
        margin-bottom: 2%;
}

.bulk_heading{
    margin: 0px 0px 15px 0px;
}
.bulk_img{
    width: 34%;
    float: left;
}
.bulk_desc{
        width: 66%;
    float: left;
    padding-top: 0;
}
.bulk_content1{
 margin-bottom: 2%;
}
.bulk_content2{
   }

/*Services ends*/
/*Process Starts*/

.processmain{
 /*   background-color:#edf4fa;*/
}
.process_heading{
     padding-top: 8%;
    margin-bottom: 2%;
}
.process_contain{
    padding-bottom: 5%;
    width: 75%;
   text-align: center;
       margin: 0 auto;
}
.process_contain1{

      text-align: center;
    padding-bottom: 5%;
}
.process_img{
     width: 70%;
}
/*Process ends*/
/*Whyus Starts*/

.whyusheading{
    padding-top: 8%;
    margin-bottom: 2%;
}
.whyusdetails{
    text-align: center;
    width: 75%;
     padding-bottom: 5%;
    margin: 0 auto;

}
.differnetmain{
	float: left;
	width: 28%;
	margin-left: 5%;
}
.differnet, .usp, .problem, .solution{
	height: 300px;
	display: block;
}
.differnetheading{
    font-size: 1rem;
        color: #f37a75;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.whycontain{
    text-align: center;
    margin-bottom: 5%;
}
.whyusimg{
	    float: left;
    height: 496px;
    width: 30%
}
.problemmain{
	float: left;
	width: 28%;
	margin-right: 5%;
}

/*Whyus ends*/
/*Career Starts*/

/*banner starts from here*/
.banner{
    margin-top: 75px;
}
.careerbanner_img{
    width: 100%;
}
/*banner ends from here*/
.jobmain{
    margin: 0 auto;
    margin-bottom: 2%;
}

.carrerbanner{
margin-bottom: 2%;
padding-top: 5%;
}
.containerbox{ 
    float: left;
    width: 28%;
    height: 245px;
    box-shadow: 0px 0px 10px 2px #ccc;
    border-radius: 5%;
    border: 4px solid #e8e9eb;
    color: black;
    padding: 15px;
    font-size: 15px;
    line-height: 17px;
    text-align: left;
    margin: 15px;
        } 
.containerbox_header{
            font-size: 22px;
    line-height: 1rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    }
.containerbox_desc{
       
    font-size: 14px;
    margin: 0;
    padding: 10px 0px;
        line-height: 1.2rem;
    }
.containerbox_spanclass{
        color: darkorange;
    }
.containerbox_skills{
    margin: 0;
    padding: 5px 0px;
        font-size: 14px;
            line-height: 1.2rem;
    }
.containerbox_location{
    padding: 10px 0px;
        font-size: 14px;
            line-height: 1.2rem;
}
.containerbox_button{
        text-align: center;
    }
.containerbox_applybutton{
        border: none;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 0.6875rem;
    outline: none;
    background-color: #FFA500;
    font-weight: bold;
    border-radius: 18px;
    padding: 8px 32px;
    text-decoration: none;  
    letter-spacing: 0.08313rem;
        text-transform: uppercase;
}
.containerbox_applybutton:hover{
    background-color: #FF8C25;
    color: #fff;
}
.location1{
    font-size: 15px;
}
/*Career ends*/
/*Contactus Starts*/
.contactbanner{
    margin-bottom: 2%;
padding-top: 5%;

}
.contactbanner_img{
    width:100%;
}
.contact{
    width: 60%;
    float: left;
}
.contact_main{
	width: 90%;
	margin:0 auto;	
}
.contact_heading{
    margin: 0 auto;
}
.contact_input{
	outline: none;
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    border-bottom: 2px solid #32d6a9;;
    color: #626262;;
    padding-top: 4%;
    font-size: 1.2rem;
        font-family: "Open Sans", sans-serif;
}
.contact_button{
    border: none;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 0.6875rem;
    outline: none;
    background-color: #32d6a9;
    border-radius: 18px;
       margin-top: 5%;
       margin-bottom: 5%;
       cursor: pointer;
       padding: 8px 32px;
           letter-spacing: 0.08313rem;
               text-transform: uppercase;
               font-weight: bold;
}
.contact_button:hover{
	cursor: pointer;
    background-color: #15a99c;
}
.contact_errMsg{
    font-size: 16px;
    color: red;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contact_sucessmsg{
	    color: green;
    font-size: 18px;
     padding-top: 5px;
    padding-bottom: 5px;
}

.map{
margin-bottom: 5%;
    width: 38%;
    float: left;
    padding: 10px;
}
/*Contactus ends*/


